/***** Box sizing *****/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***** Remove default margin on body *****/
body {
  margin: 0;
}


/******************
******************/


nav, footer{
  background-color: #AAA;
  padding: 2% 0;
}

header {
  padding: 5% 0;
}

section {
  background-color: #CCC;
  padding: 5% 0;
}

section:nth-child(even) {
  background-color: #DDD;
}