/***** Box sizing *****/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***** Remove default margin on body *****/
body {
  margin: 0;

  background-color: #F4F7F6;
}


/******************
<nav> and <footer>
******************/
nav, footer {
  /* background-color: #AAA; old */
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2% 3%;

  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
}

nav > a {
  margin-right: 20px;
}

nav > a:last-child {
  margin-right: 0;
}

a, footer {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  text-decoration: underline;
}

nav, footer {
  font-family: "Montserrat", sans-serif;
}


/******************
Content inside <main>
******************/
header {
  padding: 10% 0;

  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

.bio {
  font-family: "Lato", sans-serif;
}

section {
  background-color: #CCC;
  /* padding: 5% 0; */
  /* min-height: 200px; */
  font-family: "Lato", sans-serif;

  display: flex;
  justify-content: center;
}

section img {
  width: 100%;
  height: auto;
}

section:nth-child(even) {
  background-color: #DDD;
}


/******************
Media query
******************/
@media only screen and (min-width: 600px) {
  main {
    padding: 0 20px 0;
  }
}

