/***** Box sizing *****/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***** Remove default margin on body *****/
body {
  margin: 0;
}


/******************
<nav> and <footer>
******************/
nav, footer {
  background-color: #AAA;
  padding: 2% 0;

  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.github, .email {
  text-decoration: none;
}

.github:hover, .email:hover {
  text-decoration: underline;
}

nav, footer {
  font-family: 'Montserrat', sans-serif;
}


/******************
Content inside <main>
******************/
header {
  padding: 10% 0;

  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

section {
  background-color: #CCC;
  padding: 5% 0;
  min-height: 200px;

  display: flex;
  justify-content: center;
}

section:nth-child(even) {
  background-color: #DDD;
}


/******************
Media query
******************/
@media only screen and (min-width: 600px) {
  main {
    padding: 0 20px 0;
  }
}

